<h1>Welcome to my travel site</h1>
<p>This is where the travel stuff happens!</p>

<p> My name is Cameron and my family is from <%= @homeland %> </p>
<ul>
	<%@countries.each do |country|%>
	<li><%= country%></li>
<%end%>
</ul>
<%@image.each do |image|%>
<%=image_tag image, class: 'img-responsive'%>
<%end%>
<%= image_tag "ireland.jpg",class: 'img-responsive'%>
<%= image_tag "rainbow.jpg"%>
<%= image_tag "table.jpg"%>
<%= image_tag "bridge.jpg"%>
